
/* --------------------computadora-------------------- */
@media screen and (min-width: 1024px) { 
    * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration-line:none;
    color:inherit;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    }
    .body{
        background-color: #fff59d;
    }
    .header{
        background-color: #0c241a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        padding: 5px 5%;
        font-size: 3rem;
        
    }
    .header .navbar li{
        display: inline-block;
        padding: 0 20px;
    }

    .header .navbar a{
        font-size: 700;
        color:#eceff1 ;
        text-decoration: none;
        
    }
    .header .navbar li:hover{
        transform: scale(1.1);
    }
    .contenedor {
        position: relative;
        width: 75%;
        margin-left:2%;
    }
    
    .foto {
        opacity: 1;
        display: block;
        width: 100%;
        
        transition: .5s ease;
        backface-visibility: hidden;
        margin: 2% 2%;
        border-radius: 50%;
    }
    
    .nombre {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .contenedor:hover .foto {
        opacity: 0.8;
    }
    
    .contenedor:hover .nombre {
        opacity: 1;
    }
    
    .texto {
        background-color: #a7e4f3;
        color: black;
        font-size: 16px;
        padding: 16px 32px;
        text-align: center;
    }   
    
    .contenedorGrande{
        float: left;
        display:flex ;
    }
    .informacion{
        margin-left: 7%;
    }

    .info{
    margin-left: 10%;
    margin-top: 100px;
    margin-right: 7%;
    text-align: justify;
    
    }
    .titulo{
        text-align: center;
        font-size: 5rem;
    }
    .center{
        text-align: center;
        font-size: 3rem;
        color: #9b433d;
    }
    .center1{
        text-align: center;
        font-size: 3rem;
        color: rgb(28, 245, 209);
    }
    .eso{
        font-size: 2em;
    }
    .zzz{
        font-size: 3rem;
        margin-left: 5%;
    }
    .zx{
        margin: 2%;
    }
    .foto1{
        width: 14%;
        height: 14%;
    }
    .po{
        font-size: 40px;
        color: red;
    }  
    .tr{
        font-size: 2rem;
    }
}


/* --------------------tablet-------------------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        text-decoration-line:none;
        color:inherit;
        line-height: normal;
        font-family: Arial, Helvetica, sans-serif;
    }
    .body{
        background-color: #fff59d;
    }
    .header{
        background-color: #0c241a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 5px 5%;
        width: 100%;
    }
    .header .navbar li{
        display: inline-block;
        padding: 0 20px;
        font-size: 1rem;
    }

    .header .navbar a{
        font-size: 700;
        color:#eceff1 ;
        text-decoration: none;
    }
    .header .navbar li:hover{
        transform: scale(1.1);
    }
    .contenedor {
        position: relative;
        width: 75%;
        margin-left:2% ;
    }
    
    .foto {
        opacity: 1;
        display: block;
        width: 150%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        margin: 2% 2%;
        border-radius: 50%;
    }
    
    .nombre {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .contenedor:hover .foto {
        opacity: 0.8;
    }
    
    .contenedor:hover .nombre {
        opacity: 1;
    }
    
    .texto {
        background-color: #a7e4f3;
        color: black;
        font-size: 16px;
        padding: 16px 32px;
        text-align: center;
    }   
    
    .contenedorGrande{
        float: left;
        display:flex ;
    }
    .informacion{
        margin-left: 7%;
    }

    .info{
    margin-left: 10%;
    margin-top: 100px;
    margin-right: 7%;
    text-align: justify;
    
    }
    .titulo{
        text-align: center;
        font-size: 5rem;
    }
    .center{
        text-align: center;
        font-size: 3rem;
        color: #9b433d;
    }
    .center1{
        text-align: center;
        font-size: 3rem;
        color: rgb(28, 245, 209);
    }
    .eso{
        font-size: 2em;
    }
    .zzz{
        font-size: 3rem;
        margin-left: 5%;
    }
    .zx{
        margin: 2%;
    }
    .foto1{
        width: 25%;
        height: 25%;
    }
    .po{
        font-size: 40px;
        text-align: center;
        color: red;
    }
    .len{
        text-align: center;
        font-size: 3rem;
    }
    
}

/* --------------------celular-------------------- */
@media screen and (max-width: 767px) {
    
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        text-decoration-line:none;
        color:inherit;
        line-height: normal;
        font-family: Arial, Helvetica, sans-serif;

    }
    .body{
        background-color: #fff59d; 
    }
    .header{
        background-color: #0c241a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        height:100%;
        width: 100%;
        padding: 5px 5%;
        position: relative;


    }
    .header .navbar li{
        display: inline-block;
        padding: 0 20px;
    }

    .header .navbar a{
        font-size: 700;
        color:#eceff1 ;
        text-decoration: none;
        margin-top: 1rem;
    }
    .header .navbar li:hover{
        transform: scale(1.1);
    }
    
    .contenedor {
        position: relative;
        width: 75%;
        margin-left:2% ;
    }
    
    .foto {
        opacity: 1;
        display: block;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        margin: 2% 2%;
        border-radius: 50%;
        width: 10rem;
    }
    
    .nombre {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .contenedor:hover .foto {
        opacity: 0.8;
    }
    
    .contenedor:hover .nombre {
        opacity: 1;
    }
    
    .texto {
        background-color: #a7e4f3;
        color: black;
        font-size: 16px;
        padding: 16px 32px;
        text-align: center;
    }   
    
    .contenedorGrande{
        float: left;
        display:flex ;
        max-height: 100%;
        max-width: 100%;
    }
    .informacion{
        margin-left: 7%;
        font-size: 1em
    }

    .info{
        text-align: center;
        font-size: 1em;
        
    }
    .titulo{
        text-align: center;
        font-size: 4rem;
    }
    .center{
        text-align: center;
        font-size: 2rem;
        color: #9b433d;
    }
    .center1{
        text-align: center;
        font-size: 3rem;
        color: rgb(28, 245, 209);
    }
    .eso{
        font-size: 1em;
    }
    .zzz{
        font-size: 2rem;
        margin-left: 5%;
    }
    .zx{
        margin: 2%;
    }
    .foto1{
        width: 14%;
        height: 14%;
    }
    .len{
        font-size: 2rem;
    }
    .po{
        font-size: 3rem;
        text-align: center;
        color: red;
    }
    .tr{
        font-size: 3rem;
        margin-left: 50px;
    }
    .burger-menu{
        text-align: center;
      
        width: 30%;
        right: 30px;
        
    }

}
